* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.nav {
    min-height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 40px 0 70px;
    list-style-type: none;
}
.menu_item:not(:last-child) {
    border-right: 2px dotted #000000;
    padding-right: 32px;
}
.menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader {
    min-height: 87px;
    padding-top: 19px;
    background: rgba(0, 0, 0, .6);
}
.subheader_link-logo {
}
.subheader_logo {
}
.subheader_desc-logo {
}
.subheader_phone {
}
.subheader_tel {
}
.subheader_btn {
}